@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300&display=swap');

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, div
pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q,
s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li,
figure, header, nav, section, article, aside, footer, figcaption {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}

:root {
  --purpleColor: #8701CF;
  --orangeColor: #FF7B29;
  --whiteColor: #FFF;
}

body {
  overflow-x: hidden;
}

* {
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}

header {
  width: 100wh;
  background: var(--purpleColor);
}

p {
  color: var(--whiteColor);
  font-size: 30px;
  font-weight: 400;
  line-height: 45px;
}

.main-content {
  max-height: max-content;
  padding-top: 50px;
  background: #8701CF;
}

.text-main, .text-second-content {
  color: var(--whiteColor);
  font-size: 80px; 
  font-weight: 800;
}

.imgOne, .imgTwo, .imgThree {
  width: 600px;
}

.imgLogo {
  width: 140px;
}

.divImgOne {
  width: 600px;
  margin-top: -220px;
}

.last-container {
  display: flex;
}

.second-content {
  max-height: max-content;
  background: var(--orangeColor);
}

.left-content, .right-content {
  max-height: max-content;
}

.left-content {
  width: 50%;
  background: var(--purpleColor);
}


.right-content {
  width: 50%;
  background-color: var(--orangeColor);
}

.sendForm {
  background: var(--purpleColor);
  border-radius: 5px;
  border: none;
  outline: none;
  width: 417px;
  height: 65px;
  font-size: 20px;
  color: var(--whiteColor);
}

.sendForm:disabled {
  cursor: not-allowed;
  background: #D0B7DE;
}

.sendForm:not([disabled]):hover {
  background: #9C04ED;
  ;
}

.form-control {
  width: 415px;
  height: 65px;
}

.form-label, .form-check-label {
  color: var(--whiteColor);
}

.increment, .decrement {
  width: 52px;
  height: 41px;
  outline: none;
  border: none;
  border-radius: 4px;
  background: var(--purpleColor);
  color: var(--whiteColor);
}

.qntEmployee {
  width: 68px;
  height: 41px;
  margin-right: 16px;
  margin-left: 16px;
  outline: none;
  border: none;
  background: var(--whiteColor);
  border-radius: 4px;
}

.error-message {
  color: red;
}

.msgSuccess {
  height: 60px;
  border-radius: 4px;
  background: #DFDFDF;
  color: #3EA90B;
  ;
}

@media screen and (max-width: 768px) {
  .text-main, .text-second-content {
    font-size: 30px; 
  }

  p {
    font-size: 25px;
    line-height: 38px;
  }

  .last-container {
    flex-direction: column;
  }

  .right-content, .left-content {
    width: 100% !important;
  }

  .imgOne, .imgThree {
    width: 250px;
  }

  .imgTwo {
    width: 300px;
  }

  .divImgOne {
    margin-top: 30px;
  }
  .divImgTwo {
    margin-left: 84px;
    margin-top: 40px;
  }
}

@media (min-width: 1700px) and (max-width: 1900px) {
  .divImgTwo {
    margin-top: -150px;
    padding-left: 332px;
  }
}

@media (min-width: 1100px) and (max-width: 1500px) {
  .divImgTwo {
    margin-top: -150px;
    padding-left: 140px;
  }
}



